html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}


.Home h1{
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px hotpink solid;
}
.Nav{
    display: flex;
    align-items: center;
    flex-direction: row;
}

.searchBox{
    display: flex;
    justify-content: center;
    border: 1px hotpink solid;
}
.CarPage h1{
    display: flex;
    justify-items: center;
}
.CarPage{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    border: 1px blue solid;

    
}
.CarTitle h1{
    display: flex;
    justify-content: center;
}

.SingleCarPage{
    border: 1px green solid;
    display: flex;
    justify-content: center;

}
.SingleCarPage h1{
    display: flex;
    justify-content: center;
}

.SingleCarPage img{
    max-width: 700px;
}